// CONTAINER
$mw: 1000px;
$newMw: $mw + 30px;

// DEFAULT FONT  =>  in BASE
$font-family: 'Inter', sans-serif;

// DEFAULT FONT-WEIGHT  =>  in BASE
$font-weight: 800;

// DEFAULT FONT-SIZE  =>  in BASE
$font-size: 14px;

// DEFAULT FONT-COLOR  =>  in BASE
$color: #fff;
